.calculator_imc_container {
  display: flex;
  flex-direction: column;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(21, 194, 194);
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgb(206, 212, 212);

    @media screen and (max-width: 900px) {
      box-shadow: none;
    }

    button {
      margin: 10px 0;
      padding: 6px;
      width: 50%;
      border: 2px solid rgb(21, 194, 194);
      border-radius: 5px;
      background-color: rgb(21, 194, 194);
      color: white;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: rgb(21, 194, 194);

        .return-btn {
          width: 20px;
          color: red;
          margin: 0;
        }
      }
    }

    .form_container {
      display: flex;
      margin: 20px 20px 0 20px;

      .error-style {
        border: 2px solid red;
      }

      label {
        margin: 10px;

        input {
          width: 100%;
          border-radius: 10px;
          padding: 8px 4px;
          border: 2px solid rgb(21, 194, 194);
          margin-right: 18px;
        }
        ::placeholder {
          color: rgb(21, 194, 194);
          font-weight: 500;
        }
      }
    }

    .error-enter-box {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 30px;
      text-align: center;

      @media screen and (max-width: 900px) {
        width: 60%;
      }

      .ageLimit{
        font-size: 10px;
        color: black;
        margin: 0;
      }

      span {
        margin: 0;
        font-weight: 700;
        color: red;

        @media screen and (max-width: 900px) {
          font-size: 12px;
        }
      }

      
    }
  }

  .result_imc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(21, 194, 194);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: 20px;
    height: 221px;

    @media screen and (max-width: 900px) {
      border: none;
      box-shadow: none;
    }

    @media screen and (max-width: 750px) {
      margin-top: 0;
    }

    @media screen and (max-width: 650px) {
      margin-top: 0;
      height: 300px;
    }

    @media screen and (max-width: 650px) {
      margin-top: 0;
      height: 340px;
    }

    img {
      width: 200px;

      @media screen and (max-width: 500px) {
        width: 140px;
      }

      @media screen and (max-width: 400px) {
        width: 120px;
      }
    }

    p {
      text-align: justify;
      font-size: 18px;
      margin: 0px 18px 4px 10px;
      width: 74%;

      @media screen and (max-width: 500px) {
        font-size: 16px;
      }

      span {
        color: rgb(21, 194, 194);
        font-weight: 700;
      }
    }

    .result-div {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 20px;

      h1 {
        margin: 0;
      }

      span {
        margin: 2px;
        font-size: 40px;
        border-radius: 10px;
        padding: 5px;
        color: white;
      }

      .A {
        background-color: blue;
      }
      .B {
        background-color: green;
      }
      .C {
        background-color: rgb(161, 161, 7);
      }
      .D {
        background-color: orange;
      }
      .E {
        background-color: rgb(189, 94, 11);
      }
      .F {
        background-color: red;
      }
    }

    .summary_table {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;

      table {
        border-spacing: 0;
        border-radius: 10px;
        border: 2px solid black;

        th {
          border: 1px solid black;
        }

        tr,
        td {
          width: 200px;
          border: 1px solid black;
          padding-left: 4px;

          @media screen and (max-width: 400px) {
            font-size: 14px;
          }
        }

        .tdA {
          background-color: blue;
          color: white;
          font-weight: 500;
        }
        .tdB {
          background-color: green;
          color: white;
          font-weight: 500;
        }
        .tdC {
          background-color: rgb(161, 161, 7);
          color: white;
          font-weight: 500;
        }
        .tdD {
          background-color: orange;
          color: white;
          font-weight: 500;
        }
        .tdE {
          background-color: rgb(189, 94, 11);
          color: white;
          font-weight: 500;
        }
        .tdF {
          background-color: red;
          color: white;
          font-weight: 500;
        }
      }
    }
  }
}
